* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	width: 100vw;
	background-color: hsl(0, 100%, 74%);
	background-image: url(./images/bg-intro-mobile.png);
	background-size: all;
	padding: 3em 2em 6em 2em;
	color: white;
}
span {
	color: hsl(0, 100%, 74%);
}
.principal-container {
	margin: auto;
	text-align: center;
	max-width: 624px;
}
.principal-tittle {
	margin-bottom: 0.6em;
}
.principal-header {
	margin-bottom: 4em;
	font-weight: 700;
}
.principal-paragraph {
	font-weight: 500;
}
.button {
	display: inline-block;
	background-color: hsl(248, 32%, 49%);
	padding: 1em;
	width: 100%;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 2em;
	transition: .5s;
	box-shadow: 1px 7px 20px -9px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 7px 20px -9px rgba(0,0,0,1);
	-moz-box-shadow: 1px 7px 20px -9px rgba(0,0,0,1);
	font-weight: 500;
}
.button:hover {
	background-color: hsl(248, 32%, 40%);
}
.button span {
	font-weight: 400;
	color: hsl(246, 25%, 77%);
}
.button p {
	width: 60%;
	margin: auto;
}
.card-form {
	background-color: white;
	padding: 2em;
	border-radius: 5px;
	box-shadow: 1px 7px 20px -9px rgba(0,0,0,1);
	-webkit-box-shadow: 1px 7px 20px -9px rgba(0,0,0,1);
	-moz-box-shadow: 1px 7px 20px -9px rgba(0,0,0,1);
}
.card-form__form-item {
	width: 100%;
	font-size: 16px;
	padding: 1em;
	margin-bottom: 1em;
	font-weight: 700;
	outline: none;
	border: 3px solid hsl(246, 25%, 77%);
}
.card-form__form-submit {
	background-color: hsl(154, 59%, 51%);
	border-width: 0;
	color: white;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 3px;
	transition: 0.5s;
	padding: 1.2em;
}
.card-form__form-submit:hover {
	background-color: hsl(154, 59%, 40%);
}
.card-form__footer {
 	color:  hsl(246, 25%, 77%);
}
.card-form__form-item--correct {
	border: 3px solid hsl(154, 59%, 51%);
}
.card-form__form-item--incorrect {
    border: 3px solid red;
}
@media only screen and (min-width: 1024px) {
	body {
		height: 100vh;
		padding: 0;
	}
	.principal-container {
		width: 100%;
		height: 100%;
		max-width: none;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.principal-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 0;
		padding: 6em;
		text-align: left;
	}
	.principal-tittle {
		margin-right: 0;
		width: 70%;
		font-size: 2.6em;
	}
	.register {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 6em;
	}
	.card-form {
		height: 480px;
	}
}